<div #roulette class="roulette-focus-container" (click)="onCircleClick($event)">
    <ol>
        <li class="roulette-side-1">1</li>
        <li class="roulette-side-2 best">2</li>
        <li class="roulette-side-3"></li>
        <li class="roulette-side-4 best"></li>
        <li class="roulette-side-5"></li>
        <li class="roulette-side-6 best"></li>
        <li class="roulette-side-7"></li>
        <li class="roulette-side-8 best"></li>
    </ol>

    <div
        class="highlight"
        [style.transform]="'rotate(' + highlightSector * 45 + 'deg)'"
    ></div>
    <div
        class="focused"
        [style.transform]="
            clickedSector !== null
                ? 'rotate(' + clickedSector * 45 + 'deg)'
                : ''
        "
    ></div>

    <strong class="roulette-start-button" (click)="startRoulette()">
        START
    </strong>
</div>

<strong class="clicked-sector"> Selected: {{ clickedSector }} </strong>
