<div #roulette class="roulette-container" (click)="onCircleClick($event)">
    <ol class="roulette-sectors">
        <li
            *ngFor="let sector of rouletteSectors; let i = index"
            class="roulette-sector"
            [class]="sector.rouletteTier"
            [style.transform]="'rotate(' + i * 45 + 'deg)'"
        ></li>
    </ol>

    <div
        class="sector-highlight"
        [style.transform]="'rotate(' + highlightSector * 45 + 'deg)'"
    ></div>
    `
    <div
        class="sector-focused"
        [style.transform]="
            clickedSector !== null
                ? 'rotate(' + clickedSector * 45 + 'deg)'
                : ''
        "
    ></div>

    <strong
        class="roulette-start-button"
        (click)="startRoulette()"
        [class.disabled]="isSpinning"
    >
        START
    </strong>
</div>

<strong class="clicked-sector"> Selected: {{ clickedSector }} </strong>
