@use 'sass:math';

/*
  w: (width / 1920) * 100;
  h: (height / 1080) * 100;
*/

/* Default Screen */
$win_w: 1920;
$win_h: 1080;

/* Change width: vw*/
@function calc_vw($val) {
    @return math.div($val, $win_w) * 100;
}

/* Change height: vh*/
@function calc_vh($val) {
    @return math.div($val, $win_h) * 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol {
    list-style: none;
}

$roulette-diameter: calc_vh(600vh);
.roulette-container {
    position: relative;
    width: $roulette-diameter;
    height: $roulette-diameter;

    ol.roulette-sectors {
        width: 100%;
        height: 100%;

        li.roulette-sector {
            position: absolute;
            width: 100%;
            height: 100%;
            background: url(../../assets/roulette-focus/roulette-good.png)
                no-repeat 0 0 / cover;

            &.better {
                background-image: url(../../assets/roulette-focus/roulette-better.png);
            }

            &.best {
                background-image: url(../../assets/roulette-focus/roulette-best.png);
            }
        }
    }
}

.sector-focused,
.sector-highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: no-repeat 0 0 / cover;
}

.sector-focused {
    background-image: url(../../assets/roulette-focus/roulette-focused.png);
}

.sector-highlight {
    background-image: url(../../assets/roulette-focus/roulette-highlight.png);
}

.roulette-start-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc_vh(26vh);
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc_vh(140vh);
    height: calc_vh(140vh);
    background: #fff;
    border-radius: 50%;
    border: 5px solid #333;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: flex;
    cursor: pointer;

    &.disabled {
        pointer-events: none;
        background: #999;
        cursor: none;
    }
}

.clicked-sector {
    display: block;
    margin-top: calc_vh(20vh);
    font-size: calc_vh(24vh);
    text-align: center;
}
